{% extends 'distribution/index.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for delivery in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="form-control">{{ delivery }}</h5>
                        <p>Периодичность: {{ delivery.period }}</p>
                        <p>{{ delivery.message }}</p>
                        <p>Статус: {{ delivery.status }}</p>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'distribution:delivery_detail' delivery.pk %}"
                               role="button">Посмотреть</a>
                            <a class="btn btn-primary" href="{% url 'distribution:delivery_update' delivery.pk %}"
                               role="button">Редактировать</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}