{% extends 'distribution/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <a class="btn btn-primary" href="{% url 'distribution:message_create' %}" role="button">Создать письмо</a>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for message in object_list %}
            {% if user == message.owner %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">{{ message.theme }}</p>
                        <p>{{ message.content | truncatechars:100 }}</p>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'distribution:message_detail' message.pk %}"
                               role="button">Посмотреть</a>
                            <a class="btn btn-primary" href="{% url 'distribution:message_update' message.pk %}"
                               role="button">Редактировать</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}